.carousel-screen {
  position: relative;
  max-width: 1036px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @media (max-width: 1100px) {
    margin-bottom: 32px;
  }
}

.carousel-screen__swiper {
  @media (min-width: 1101px) {
    max-width: calc(100% - 144px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    background: #2B2D33;
    overflow: hidden;
    padding: 48px;
  }
}

.carousel-screen__slide {
  width: auto;
}

.carousel-screen__img {
  height: 478px;
  width: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.50);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 100%);
}

.carousel-screen__slide:last-child {
  padding-right: 100px;
}


.carousel-screen__button-prev,
.carousel-screen__button-next {
  border-radius: 100px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2B2D33;
  background-image: url('../../img/common.insl/ecom-arrow-icon.svg');
  background-size: 100%;
  transition: all 0.3s ease;
  border: 1px solid #2B2D33;
}

.carousel-screen__button-prev {
  transform: scaleX(-1);
}
.carousel-screen__button-next {
}

.carousel-screen__button-prev:hover,
.carousel-screen__button-next:hover {
  @media (any-hover: hover) {
    border-radius: 8px;
  }
}

.carousel-screen__button-prev.swiper-button-disabled,
.carousel-screen__button-next.swiper-button-disabled {
  opacity: 1;
  background-color: #CACACC;
  border-color: #fff;
}
