.ecom-shifter {
  padding-top: 80px;
  padding-bottom: 100px;
  color: #fff;
  background-color: #498CE9;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 32px;
  overflow: hidden;

  @media (max-width: 1100px) {
    max-width: calc(100% - 64px);
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media (max-width: 768px) {
    margin-top: -40px;
  }

  @media (max-width: 576px) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100%;
  }
}

.ecom-shifter__container {
  display: grid;
  grid-template-columns: 510px auto;
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: 1101px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 962px) {
    grid-template-columns: 100%;
  }

  @media (max-width: 768px) {
    grid-template-columns: 348px auto;
  }

  @media (max-width: 576px) {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: 100%;
  }
}


.ecom-shifter__title {
  font-size: var(--heading-2-size);
  line-height: var(--heading-2-height);
  text-align: left;

  @media (max-width: 768px) {
    font-size: 26px;
    line-height: 1.25;
  }
  @media (max-width: 576px) {
    font-size: 24px;
    text-align: center;
  }
}
.ecom-shifter__desc {
  text-align: left;
  font-size: var(--heading-4-size);
  line-height: var(--heading-4-height);

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
  @media (max-width: 576px) {
    text-align: center;
  }
}

.ecom-shifter__media {
  margin-top: -120px;
  margin-left: -300px;
  margin-right: -80px;
  margin-bottom: -100px;
  width: auto;
  position: relative;

  @media (max-width: 1100px) {
    margin-top: -48px;
    margin-left: 0;
    margin-right: -40px;
    margin-bottom: -96px;
  }

  @media (max-width: 962px) {
    margin-top: 32px;
    margin-right: 0;
  }

  @media (max-width: 768px) {
    margin-top: -60px;
    margin-left: 0;
    margin-right: -40px;
    margin-bottom: -76px;
  }

  @media (max-width: 962px) {
    margin: 0;
    margin-top: 32px;
    margin-bottom: -50px;
  }
}

.ecom-shifter__media::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: 1;
  display: block;
  width: 80%;
  height: 80%;
  background-image: url('../../img/common.insl/ecom-shifter-line.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 1100px) {
    display: none;
  }
}

.ecom-shifter__pic {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.ecom-shifter__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ecom-shifter__button {
  @media (max-width: 1100px) {
    width: 100%;
  }
}
