.it-shifter {
  color: #fff;
  border-radius: 32px;
  // background: var(--grey-text-primary, #2B2D33);
  text-align: left;
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1100px) {
    margin-right: var(--p-container);
    margin-left: var(--p-container);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 601px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    border-radius: 24px;
  }
}

.section .it-shifter:last-child {
  margin-bottom: 0;
}
.section .it-shifter:last-child .it-shifter__container {
  padding-bottom: 0;
}

.it-shifter__container {
  display: grid;
  grid-template-columns: 510px auto;
  gap: 44px;
  padding: 20px 104px;
  width: 100%;

  @media (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      padding: 40px 24px;
  }
  @media (max-width: 768px) {
    padding-top: 0;
  }
  @media (max-width: 601px) {
    grid-template-columns: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.it-shifter__title {
  font-size: 64px;
  font-weight: 800;
  line-height: 118.182%;
  letter-spacing: -1.76px;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 36px;
  }
  @media (max-width: 601px) {
    margin-bottom: 8px;
  }
}

.it-shifter__subtitle {
  color: var(--white, #FFF);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.64px;
  margin-bottom: 28px;
  margin-top: 0;

  @media (max-width: 1100px) {
    font-size: 22px;
    margin-bottom: 16px;
  }
}

.it-shifter__desc {
  text-align: left;
  font-size: var(--heading-5-size);
  line-height: var(--heading-5-height);
  margin-bottom: 24px;
  max-width: 480px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.it-shifter__button {
  font-size: 18px;

  @media (max-width: 1100px) {
    width: 100%;
    display: block;
  }

  @media (max-width: 601px) {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
  }
}

.it-shifter__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}

.it-shifter__card {
  padding: 32px 24px;
  border-radius: 24px;
  background: var(--grey-grey, #1A1B1F);
  display: flex;
  margin-bottom: 16px;

  @media (max-width: 768px) {
    padding: 16px;
    align-items: center;
    margin-bottom: 8px;
  }
}

.it-shifter__card:last-child {
  margin-bottom: 0;
}

.it-shifter__card-pic {
  --size: 32px;
  max-width: var(--size);
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  margin-right: 16px;

  @media (max-width: 1100px) {
    --size: 24px;
  }
  @media (max-width: 601px) {
      margin-right: 12px;
  }
}

.it-shifter__card-desc {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  color: var(--white, #FFF);
  font-size: var(--fz-regular);
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;

  @media (max-width: 1100px) {
    font-size: 16px;
    padding-top: 0;
  }
}

.it-shifter__card-desc .section-text--hl {
  color: var(--colors-new-green-new, #65C472);
}

.it-shifter-consult__offer {
  position: relative;
  z-index: 2;
}
