@charset "UTF-8";
/* line 1, menu.scss */
.header-main {
  --arrow-black: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8999 1.5L5.8999 6.5L0.899902 1.5' stroke='%232B2D33' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  --arrow-white: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8999 1.5L5.8999 6.5L0.899902 1.5' stroke='%23ffffff' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  --arrow-gray: url("data:image/svg+xml,%0A%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8999 1.5L5.8999 6.5L0.899902 1.5' stroke='%238B8C8F' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  --arrow-menu: var(--arrow-black); }

/* line 8, menu.scss */
.refresh-menu-logo img + img {
  display: none; }

/* line 13, menu.scss */
.header-main.is-dark.is-fixed .refresh-menu-logo .refresh-menu-logo-light, .header-main.is-blue.is-fixed .refresh-menu-logo .refresh-menu-logo-light {
  display: none; }
/* line 17, menu.scss */
.header-main.is-dark.is-fixed .refresh-menu-logo .refresh-menu-logo-dark, .header-main.is-blue.is-fixed .refresh-menu-logo .refresh-menu-logo-dark {
  display: inline-block; }
/* line 21, menu.scss */
.header-main.is-dark:not(.is-fixed) .refresh-menu-logo img:first-child, .header-main.is-blue:not(.is-fixed) .refresh-menu-logo img:first-child {
  filter: brightness(10); }

/* line 27, menu.scss */
.header-main.is-gray .refresh-menu-nav-container {
  background: #FFFFFF; }

/* line 30, menu.scss */
.header-main.is-gray .refresh-menu-nav-container .refresh-menu-logo {
  padding-bottom: 0; }

/* line 36, menu.scss */
.popup,
.refresh-menu-nav-btn-tablet,
.refresh-menu-hamburger,
.refresh-menu-icon-tablet {
  display: none; }

/* line 43, menu.scss */
.add-div {
  position: absolute;
  background: #F5F5F5;
  width: 237px;
  height: 233px;
  top: -15px;
  left: 0px;
  z-index: -1;
  opacity: 0; }

/* line 54, menu.scss */
.item-list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2B2D33; }

/* line 61, menu.scss */
.refresh-menu-nav-list li {
  position: relative; }

/* line 65, menu.scss */
.refresh-menu-nav-container {
  padding: 0 14px;
  background: #F5F5F5;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  transition-property: background, box-shadow, border-radius;
  transition-duration: .4s; }

/* line 77, menu.scss */
.header-main.is-sticky {
  position: sticky;
  top: 0;
  z-index: 1000; }

/* line 83, menu.scss */
.header-main.is-sticky.is-open {
  position: fixed;
  width: 100%; }

/* line 88, menu.scss */
.header-main.is-sticky .refresh-menu-nav-container {
  position: relative; }

/* line 92, menu.scss */
.header-main.is-sticky .header-pseudo {
  display: none !important; }

/* line 96, menu.scss */
.header-main.is-fixed .refresh-menu-nav-container {
  background: #FFFFFF;
  box-shadow: 0px 16px 10px -10px rgba(50, 50, 71, 0.1);
  border-radius: 0px 0px 24px 24px; }

/* line 102, menu.scss */
.refresh-menu-nav-list {
  display: grid;
  grid-template-columns: 92px auto 224px;
  column-gap: 0;
  height: 72px;
  align-items: center;
  align-content: center; }

/* line 112, menu.scss */
.refresh-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 814px;
  margin-left: auto;
  margin-right: auto; }

/* line 122, menu.scss */
ul.refresh-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 129, menu.scss */
.refresh-menu-nav-btn {
  align-self: center;
  position: relative; }

/* line 135, menu.scss */
.refresh-menu-logo {
  align-self: center;
  padding-bottom: 10px; }

/* line 140, menu.scss */
.refresh-menu-nav-btn .btn-lg {
  height: 48px;
  line-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
  width: 100%;
  text-align: center; }

/* line 150, menu.scss */
.refresh-menu li {
  border-radius: 8px; }

/* line 154, menu.scss */
.refresh-menu li.on-hover {
  background: #EAEBEB; }

/* line 158, menu.scss */
.refresh-menu .submenu--level-1 .submenu-inner li:hover {
  background: #F5F5F5; }

/* line 162, menu.scss */
.submenu--level-1 {
  position: absolute;
  left: 0px;
  margin-top: 0px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  transition: 300ms; }

/* line 174, menu.scss */
.submenu-inner {
  padding-left: 0;
  list-style-type: none;
  list-style-type: none;
  padding-left: 0;
  background: #FFFFFF;
  padding: 8px 8px;
  margin: 0;
  border-radius: 12px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24), 0px 8px 24px 6px rgba(50, 50, 71, 0.1); }

/* line 186, menu.scss */
.submenu--level-1 li {
  padding: 8px 16px 8px 16px;
  transition: all 0.3s; }

/* line 191, menu.scss */
.refresh-menu-logo img {
  vertical-align: top;
  width: 100%;
  object-fit: contain;
  object-position: center; }

/* line 201, menu.scss */
li.after-new {
  display: flex; }

/* line 205, menu.scss */
.after-new:after {
  content: 'Новое';
  width: 55px;
  height: 25px;
  top: 28%;
  right: 44px;
  background: rgba(73, 140, 233, 0.16);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: #498CE9;
  text-align: center;
  padding: 4px 8px;
  margin-left: 8px; }

/* line 223, menu.scss */
.sales-channels-menu {
  list-style-type: none; }

/* line 227, menu.scss */
.sales-channels-nav-container {
  padding: 22px 84px; }

/* line 231, menu.scss */
.refresh-menu a {
  white-space: nowrap; }

/* line 236, menu.scss */
.tariffs-item-list,
.moving-insales-item-list {
  padding: 10px 12px; }

/* line 243, menu.scss */
.after-arrow {
  padding: 10px 12px 10px 12px;
  transition-duration: .15s;
  position: relative; }

/* line 249, menu.scss */
.sales-channels-menulink {
  transition: all 300ms;
  position: relative;
  display: block; }

/* line 255, menu.scss */
.after-arrow > .sales-channels-menulink {
  padding-right: 24px; }

/* line 259, menu.scss */
.after-arrow > .sales-channels-menulink:after {
  content: '';
  background-image: var(--arrow-menu);
  width: 12px;
  height: 10px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -3px;
  transition: all 500ms;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* line 274, menu.scss */
.item-list.on-muted .sales-channels-menulink {
  color: #8B8C8F; }

/* line 278, menu.scss */
.item-list.on-muted.after-arrow > .sales-channels-menulink:after {
  opacity: 0.5; }

/* line 283, menu.scss */
.refresh-menu-nav-mobile {
  display: none; }

/* line 287, menu.scss */
.refresh-nav-close-wrapper {
  display: none; }

/* line 291, menu.scss */
.submenu-inner > li + li {
  margin-top: 4px; }

/* line 295, menu.scss */
.refresh-menu-nav-btn .btn-lg {
  vertical-align: top; }

/* line 299, menu.scss */
.submenu-inner > li.with-border:after {
  content: '';
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  left: 0;
  height: 1px;
  background: #E5E9F0; }

/* line 309, menu.scss */
.refresh-menu-nav-btn .submenu-inner > li.with-border + li {
  margin-top: 8px; }

/* line 313, menu.scss */
.refresh-menu-nav-btn .submenu-inner > li:hover {
  background: #EAEBEB; }

/* line 317, menu.scss */
.submenu-inner > li {
  border-radius: 8px; }

/* line 321, menu.scss */
.refresh-menu-nav-btn .submenu-inner > li {
  height: 40px; }

/* line 325, menu.scss */
.refresh-menu-nav-btn .submenu-inner > li a {
  display: block; }

/* line 329, menu.scss */
.refresh-menu-nav-btn .submenu-inner {
  min-width: 161px; }

/* line 333, menu.scss */
.refresh-login {
  display: none; }

/* line 337, menu.scss */
.refresh-menu-nav-btn li a {
  font-weight: 400; }

/* line 341, menu.scss */
.refresh-menu-login,
.refresh-menu-login-mobile {
  display: none; }

/* line 346, menu.scss */
.header-main.is-blue:not(.is-fixed) .refresh-menu-nav-container {
  background: #498CE9; }

/* line 350, menu.scss */
.header-main.is-dark:not(.is-fixed) .refresh-menu-nav-container {
  background: #2B2D33; }

/* line 354, menu.scss */
.page-template-name-features {
  background: linear-gradient(180deg, #4a8cea 0%, #4a8cea 72px, #fff 72px, #fff 100%); }

/* line 358, menu.scss */
.page-template-name-winter-23, .page-template-name-cyberwinter-24 {
  background: linear-gradient(180deg, #2B2D33 0%, #2B2D33 72px, #fff 72px, #fff 100%); }

/* line 362, menu.scss */
.page-template-name-signup {
  background: linear-gradient(180deg, #f5f5f5 0%, #f5f5f5 72px, #fff 72px, #fff 100%); }

/* line 366, menu.scss */
.page-template-name-marketplace {
  background: linear-gradient(180deg, #f5f5f5 0%, #f5f5f5 72px, #fff 72px, #fff 100%); }

@media (min-width: 1260px) {
  /* line 373, menu.scss */
  .header-main.is-black-btn:not(.is-fixed) .refresh-menu-nav-btn .bttn-reg.btn-lg {
    background: #2B2D33;
    color: #FFFFFF; }

  /* line 380, menu.scss */
  .header-main.is-black-btn:not(.is-fixed) .refresh-menu-nav-btn .bttn-reg.btn-lg:hover {
    background: #4B4C51;
    color: #FFFFFF; }

  /* line 385, menu.scss */
  .header-main.is-black-btn:not(.is-fixed) .refresh-menu-nav-btn .bttn-reg.btn-lg:active {
    background: #25262B;
    color: #FFFFFF; }

  /* line 391, menu.scss */
  .header-main.is-dark:not(.is-fixed) .refresh-menu > li.on-hover {
    background: #25262B; }

  /* line 394, menu.scss */
  .header-main.is-dark:not(.is-fixed) .submenu-inner {
    background: #25262B; }

  /* line 397, menu.scss */
  .header-main.is-dark:not(.is-fixed) .item-list a {
    color: #fff; }

  /* line 400, menu.scss */
  .header-main.is-dark:not(.is-fixed) .submenu--level-1 .submenu-inner li:hover {
    background: #2B2D33;
    color: #ffffff; }

  /* line 405, menu.scss */
  .header-main.is-blue:not(.is-fixed) .refresh-menu > li.on-hover {
    background: #5C98ec; }

  /* line 410, menu.scss */
  .header-main.is-dark:not(.is-fixed) .after-arrow > .sales-channels-menulink:after, .header-main.is-blue:not(.is-fixed) .after-arrow > .sales-channels-menulink:after {
    background-image: var(--arrow-white); }
  /* line 414, menu.scss */
  .header-main.is-dark:not(.is-fixed) .refresh-menu-login, .header-main.is-blue:not(.is-fixed) .refresh-menu-login {
    color: #fff; }
  /* line 418, menu.scss */
  .header-main.is-dark:not(.is-fixed) .item-list > a, .header-main.is-blue:not(.is-fixed) .item-list > a {
    color: #FFFFFF; }
  /* line 422, menu.scss */
  .header-main.is-dark:not(.is-fixed) .refresh-menu .item-list.on-muted > a.sales-channels-menulink, .header-main.is-blue:not(.is-fixed) .refresh-menu .item-list.on-muted > a.sales-channels-menulink {
    color: #ffffff9c; }
  /* line 426, menu.scss */
  .header-main.is-dark.is-fixed .refresh-menu .item-list.on-muted > a.sales-channels-menulink, .header-main.is-blue.is-fixed .refresh-menu .item-list.on-muted > a.sales-channels-menulink {
    color: #8B8C8F; }

  /* line 432, menu.scss */
  .with-two-button.without-login .refresh-menu-login {
    display: inline-flex; }
  /* line 436, menu.scss */
  .with-two-button.without-login .refresh-menu-nav-list {
    grid-template-columns: 92px auto 298px; }
  /* line 440, menu.scss */
  .with-two-button.without-login .refresh-menu-nav-btn .btn-lg {
    max-width: 210px; }
  /* line 444, menu.scss */
  .with-two-button.without-login .refresh-menu-nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  /* line 450, menu.scss */
  .with-two-button.without-login .refresh-menu-login {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 12px;
    margin-right: 16px;
    height: 44px;
    align-items: center; }

  /* line 461, menu.scss */
  .submenu--level-1 {
    padding-top: 8px;
    position: absolute;
    top: 100%;
    left: 0; }

  /* line 468, menu.scss */
  .after-arrow.on-hover > .sales-channels-menulink::after {
    transform: rotate(180deg); }

  /* line 472, menu.scss */
  .with-login .refresh-menu-nav-btn .bttn-reg:after {
    content: '';
    background-image: var(--arrow-white);
    width: 12px;
    height: 10px;
    position: relative;
    right: 0px;
    transition: all 500ms;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px; }

  /* line 488, menu.scss */
  .with-login .refresh-menu-nav-btn:hover .bttn-reg:after {
    transform: rotate(180deg); }

  /* line 492, menu.scss */
  .item-list.on-hover > .submenu--level-1,
  .with-login .refresh-menu-nav-btn.on-hover > .submenu--level-1 {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    top: 100%; } }
/* line 501, menu.scss */
.submenu--level-2:before {
  content: ' ';
  width: 32px;
  height: 100%;
  position: absolute;
  left: -25px; }

/* line 509, menu.scss */
.submenu--level-2 {
  position: absolute;
  left: calc(100% + 16px);
  top: -7px;
  display: none; }

@media (max-width: 1280px) and (min-width: 1279px) {
  /* line 517, menu.scss */
  .refresh-menu-nav-container .container {
    padding: 0 30px; } }
@media (min-width: 1261px) {
  /* line 523, menu.scss */
  li.after-arrow.on-hover > .submenu--level-2 {
    display: block; } }
@media (max-width: 1260px) {
  /* line 529, menu.scss */
  .refresh-menu .submenu--level-1 .submenu-inner li:hover {
    background: transparent; }

  /* line 533, menu.scss */
  .after-arrow > .sales-channels-menulink {
    padding-right: 40px; }

  /* line 536, menu.scss */
  .refresh-menu li.on-hover {
    background: transparent; }

  /* line 539, menu.scss */
  .submenu--level-2 {
    position: relative;
    left: 0;
    top: 0;
    display: none; }

  /* line 545, menu.scss */
  .submenu--level-2 .submenu-inner {
    background: #EAEBEB; }

  /* line 549, menu.scss */
  .header-main.is-blue:not(.is-fixed) .refresh-menu-icon-tablet, .header-main.is-dark:not(.is-fixed) .refresh-menu-icon-tablet {
    filter: brightness(10); }
  /* line 552, menu.scss */
  .header-main.is-blue:not(.is-fixed) .bar, .header-main.is-dark:not(.is-fixed) .bar {
    background-color: #fff;
    border-color: #fff; }
  /* line 556, menu.scss */
  .header-main.is-blue:not(.is-fixed) .refresh-menu-hamburger.active .bar, .header-main.is-dark:not(.is-fixed) .refresh-menu-hamburger.active .bar {
    border-color: #2B2D33;
    background-color: #2B2D33; }
  /* line 560, menu.scss */
  .header-main.is-blue:not(.is-fixed) .refresh-nav.active ~ .refresh-menu-icon-tablet, .header-main.is-dark:not(.is-fixed) .refresh-nav.active ~ .refresh-menu-icon-tablet {
    filter: none; }
  /* line 563, menu.scss */
  .header-main.is-blue.is-open .refresh-menu-logo .refresh-menu-logo-light, .header-main.is-dark.is-open .refresh-menu-logo .refresh-menu-logo-light {
    display: none; }
  /* line 567, menu.scss */
  .header-main.is-blue.is-open .refresh-menu-logo .refresh-menu-logo-dark, .header-main.is-dark.is-open .refresh-menu-logo .refresh-menu-logo-dark {
    display: inline-block; }

  /* line 574, menu.scss */
  .with-two-button.without-login .refresh-menu-nav-btn-tablet {
    display: flex;
    align-items: center; }
  /* line 579, menu.scss */
  .with-two-button.without-login .refresh-menu-login-mobile {
    border: 2px solid #498CE9;
    border-radius: 12px;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    margin-right: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #498CE9; }

  /* line 595, menu.scss */
  .compensate-for-scrollbar .header-main.is-sticky {
    width: calc(100% + 17px); }

  /* line 599, menu.scss */
  .after-arrow.on-hover > .sales-channels-menulink::after {
    transform: rotate(180deg); }

  /* line 603, menu.scss */
  .refresh-nav-close-wrapper {
    display: block; }

  /* line 607, menu.scss */
  .refresh-login .refresh-menu {
    padding: 16px; }

  /* line 611, menu.scss */
  .refresh-login .refresh-menu a {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: block; }

  /* line 618, menu.scss */
  .refresh-login .refresh-menu li {
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 4px; }

  /* line 624, menu.scss */
  .refresh-login .refresh-menu li.with-border {
    border-bottom: 1px solid #E5E9F0; }

  /* line 628, menu.scss */
  .refresh-nav,
  .refresh-login {
    position: fixed;
    background-color: #fff;
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100dvh;
    left: 0%;
    top: 0;
    z-index: 99;
    padding: 0;
    opacity: 0;
    width: 100%;
    max-width: 375px;
    transform: translateX(-100%); }

  /* line 648, menu.scss */
  .refresh-menu-nav-btn-tablet {
    border-top: 1px solid #E5E9F0; }

  /* line 652, menu.scss */
  .submenu-inner {
    background: #F5F5F5;
    border-radius: 12px;
    margin: 15px 0 0 0;
    padding: 4px 0;
    box-shadow: none;
    z-index: 1;
    position: relative;
    opacity: 1;
    visibility: visible; }

  /* line 664, menu.scss */
  .submenu--level-1 li {
    padding: 8px 16px; }

  /* line 668, menu.scss */
  .submenu-inner > li + li {
    margin-top: 4px; }

  /* line 672, menu.scss */
  .refresh-nav.active,
  .refresh-login.active {
    opacity: 1;
    transform: translateX(0%); }

  /* line 678, menu.scss */
  ul.refresh-menu {
    flex-direction: column;
    text-align: left; }

  /* line 683, menu.scss */
  .refresh-menu-hamburger {
    cursor: pointer;
    display: flex; }

  /* line 688, menu.scss */
  .refresh-menu-nav-list {
    display: flex;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    text-align: center;
    height: 62px; }

  /* line 697, menu.scss */
  .close-refresh-menu {
    width: 40px;
    height: 40px;
    background: #F5F5F5;
    z-index: 100;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-image: url(cross-svgrepo-com.svg);
    cursor: pointer;
    display: block; }

  /* line 711, menu.scss */
  .after-new:after {
    position: relative;
    left: 0;
    top: 0px; }

  /* line 717, menu.scss */
  .bg-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none; }

  /* line 729, menu.scss */
  .bg-layer.visible {
    display: block; }

  /* line 733, menu.scss */
  .after-arrow .sales-channels-menulink:after {
    right: 4px; }

  /* line 738, menu.scss */
  .refresh-menu-hamburger.active .bar:nth-child(2) {
    opacity: 0; }

  /* line 742, menu.scss */
  .refresh-menu-hamburger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg); }

  /* line 746, menu.scss */
  .refresh-menu-hamburger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg); }

  /* line 752, menu.scss */
  .bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 2px auto;
    transition: 300ms;
    background-color: #2B2D33;
    border: 1px solid #2B2D33;
    border-radius: 2px; }

  /* line 763, menu.scss */
  .after-arrow .js-sales-channels-menulink:after {
    right: 20px; }

  /* line 767, menu.scss */
  .item-list {
    padding: 6px 16px 6px 16px; }

  /* line 771, menu.scss */
  .refresh-menu > li + li {
    margin-top: 4px; }

  /* line 775, menu.scss */
  .item-list:nth-child(1) {
    padding-top: 10px; }

  /* line 779, menu.scss */
  .item-list a {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #2B2D33; }

  /* line 786, menu.scss */
  .submenu--level-1 .sales-channels-menulink {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; }

  /* line 792, menu.scss */
  .submenu--level-1 {
    position: relative;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    z-index: 1; }

  /* line 801, menu.scss */
  .refresh-menu li:hover {
    background: transparent; }

  /* line 805, menu.scss */
  .refresh-nav-top {
    height: calc(100% - 80px);
    padding-bottom: calc(10px + 62px); }

  /* line 810, menu.scss */
  .refresh-menu {
    max-height: 100%;
    overflow: auto;
    max-width: 375px;
    justify-content: flex-start; }

  /* line 817, menu.scss */
  .refresh-menu-icon-tablet {
    display: block; }

  /* line 821, menu.scss */
  .refresh-menu-nav-btn-tablet {
    display: block; }

  /* line 825, menu.scss */
  .refresh-nav-close-wrapper {
    padding: 11px 16px; }

  /* line 829, menu.scss */
  .refresh-menu-nav-container {
    padding: 0;
    border-radius: 0;
    background-color: #F5F5F5;
    box-shadow: none; }

  /* line 836, menu.scss */
  .refresh-menu-nav-container .container {
    padding: 0 16px; }

  /* line 840, menu.scss */
  .refresh-menu-logo {
    order: 2;
    padding: 10px 0; }

  /* line 845, menu.scss */
  .refresh-menu-logo img {
    width: 85px; }

  /* line 850, menu.scss */
  .refresh-menu-hamburger {
    display: inline-flex;
    order: 1;
    width: 40px;
    height: 40px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    flex-direction: column; }

  /* line 861, menu.scss */
  .refresh-menu-nav-btn {
    display: none; }

  /* line 865, menu.scss */
  .refresh-menu-icon-tablet {
    order: 3;
    width: 40px;
    height: 40px;
    text-align: center;
    align-self: center;
    padding: 4px;
    border-radius: 8px; }

  /* line 875, menu.scss */
  .refresh-menu-nav-btn-tablet {
    display: block;
    padding: 16px;
    background: #fff;
    z-index: 1; }

  /* line 882, menu.scss */
  .refresh-menu-nav-btn-tablet .btn-lg {
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    width: 100%;
    height: 48px;
    padding-left: 8px;
    padding-right: 8px; }

  /* line 892, menu.scss */
  ul.refresh-menu {
    padding-bottom: 0; }

  /* line 896, menu.scss */
  ul.refresh-menu {
    border-top: 1px solid #E5E9F0; }

  /* line 900, menu.scss */
  .refresh-menu-icon-tablet img,
  .refresh-menu-hamburger img {
    width: 100%; }

  /* line 905, menu.scss */
  .refresh-menu-icon-tablet img {
    width: 22px;
    vertical-align: text-top; } }
@media (max-width: 480px) {
  /* <!-- -------------------------------BURGER------------------------------- --> */
  /* line 915, menu.scss */
  .refresh-nav-close-wrapper {
    display: none; }

  /* line 919, menu.scss */
  .refresh-nav.active ~ .refresh-menu-icon-tablet {
    background: #F5F5F5; }

  /* line 923, menu.scss */
  .refresh-login.active ~ .refresh-menu-icon-tablet {
    background: #F5F5F5; }

  /* line 927, menu.scss */
  .after-arrow > .sales-channels-menulink {
    padding-right: 40px; }

  /* line 931, menu.scss */
  .after-arrow .sales-channels-menulink:after {
    right: 16px;
    width: 13px; }

  /* line 935, menu.scss */
  .after-arrow .js-sales-channels-menulink-sub:after {
    right: 0px;
    width: 13px; }

  /* line 940, menu.scss */
  ul.refresh-menu {
    border-top: none; }

  /* line 944, menu.scss */
  .refresh-nav-top {
    border-top: 1px solid #E5E9F0;
    padding-bottom: 20px; }

  /* line 949, menu.scss */
  .submenu--level-1 .sales-channels-menulink {
    font-size: 16px;
    line-height: 24px; }

  /* line 954, menu.scss */
  .refresh-menu.active {
    top: 0;
    max-width: 100%;
    opacity: 1;
    visibility: visible; }

  /* line 961, menu.scss */
  .bg-layer.visible {
    display: none !important; }

  /* line 965, menu.scss */
  .refresh-menu {
    max-width: 100%; }

  /* line 969, menu.scss */
  .refresh-nav,
  .refresh-login {
    top: 62px;
    max-width: 100%;
    height: calc(100% - 62px);
    min-height: calc(100dvh - 62px); }

  /* line 977, menu.scss */
  .refresh-menu-nav-container {
    padding: 0;
    background: #F5F5F5;
    border-radius: 0; }

  /* line 983, menu.scss */
  .refresh-menu {
    padding: 0; }

  /* line 987, menu.scss */
  .refresh-menu-nav-btn-tablet {
    border-top: 1px solid #E5E9F0; }

  /* line 991, menu.scss */
  .refresh-menu-hamburger {
    align-self: center; }

  /* line 995, menu.scss */
  .bar {
    width: 18px;
    height: 2px;
    margin: 2px auto; }

  /* line 1001, menu.scss */
  .refresh-menu-logo img {
    width: 76px; }

  /* line 1005, menu.scss */
  .bg-layer {
    display: none; }

  /* line 1009, menu.scss */
  .refresh-menu-logo {
    text-align: center; }

  /* line 1013, menu.scss */
  .refresh-menu-icon-tablet {
    padding: 8px;
    border-radius: 8px; }

  /* line 1018, menu.scss */
  .refresh-menu-hamburger.hamb.active {
    background: #F5F5F5;
    border-radius: 8px; }

  /* line 1023, menu.scss */
  .header-main.is-open .refresh-menu-nav-container {
    background: #FFFFFF !important;
    box-shadow: none;
    border-radius: 0 !important; }

  /* line 1029, menu.scss */
  .refresh-menu-logo img {
    max-width: 122px; }

  /* line 1033, menu.scss */
  .page-template-name-lite .refresh-menu-logo img,
  .page-template-name-sberclass .refresh-menu-logo img,
  .page-template-name-svoedelo .refresh-menu-logo img {
    width: 100px; }

  /* line 1039, menu.scss */
  .refresh-nav.active:before,
  .refresh-login.active:before {
    content: '';
    position: absolute;
    background: white;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0; }

  /* line 1050, menu.scss */
  .header-main.is-fixed .refresh-menu-nav-container {
    border-radius: 0 0 12px 12px; } }
